﻿<div flex layout="column" layout-fill>
    <tt-busy-indicator show="vm.isBusy"></tt-busy-indicator>
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span translate>Editing {{item.value}}</span>
        </h2>
    </md-toolbar>
    <md-content class="md-hue-1" flex md-scroll-y>
        <div layout="column">
            <div class="tt-padding-sm">
                <form name="userForm">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label translate>First Name</label>
                            <input ng-model="vm.item.FirstName">
                        </md-input-container>
                        <md-input-container flex>
                            <label translate>Last Name</label>
                            <input ng-model="vm.item.LastName">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label translate>From Date</label>
                            <input type="date" ng-model="vm.date">
                        </md-input-container>
                        <md-input-containter hide-sm>
                            <md-button class="md-raised" ng-click="showDatePicker($event)" aria-label="show date picker" style="margin: 1rem 0 0 0;">{{'Show Date Picker'|translate}}</md-button>
                        </md-input-containter>
                    </div>
                </form>
            </div>
            <div class="md-actions" layout="row" layout-align="end start">
                <md-button class="md-primary md-raised" type="submit" ng-click="vm.save()">{{'Save'|translate}}</md-button>
                <md-button class="md-raised" ng-click="vm.back()">{{'Cancel'|translate}}</md-button>
            </div>
            <ng-include src="virtualDirectory + 'Views/Shared/Footer.html'"></ng-include>
        </div>
    </md-content>
</div>
