﻿/* IE9 needs these */
img {
  border: 0px solid white;
}
body,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#logo img {
  margin-right: 10px;
  padding-right: 0;
}
#tyler-site-title,
#tyler-site-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  line-height: 1.2;
}
/* defunctr browser detection styles */
/* unsupported-browser visibility */
.no-js .unsupported-browser,
.unsupported-browser {
  display: none;
}
/* separate style to prevent ie10 flashing browser recommendation */
.unsupported-browser {
  display: none;
}
.no-chrome .unsupported-browser,
.no-firefox .unsupported-browser,
.no-safari .unsupported-browser,
.no-ie .unsupported-browser {
  display: inherit;
}
.chrome .unsupported-browser,
.firefox .unsupported-browser,
.safari .unsupported-browser,
.ie-gt-9 .unsupported-browser {
  display: none;
}
/* container visibility */
.no-chrome .container,
.no-firefox .container,
.no-safari .container,
.ie-lt-10 .container,
.no-chrome .container-fluid,
.no-firefox .container-fluid,
.no-safari .container-fluid,
.ie-lt-10 .container-fluid {
  display: none;
}
.chrome .container,
.firefox .container,
.safari .container,
.ie-gt-9 .container,
.chrome .container-fluid,
.firefox .container-fluid,
.safari .container-fluid,
.ie-gt-9 .container-fluid {
  display: inherit;
}
/* modernizr no-js styles */
.nojs-content {
  color: #333;
  font-size: 18px;
  height: 46px;
  display: none;
}
.no-js .nojs-content {
  display: inherit;
}
.no-js .container,
.no-js .container-fluid {
  display: none;
}
/* modernizr no-cookies styles*/
.nocookies-content,
.no-js .nocookies-content,
.cookies .nocookies-content {
  display: none;
}
.no-cookies .nocookies-content {
  color: #333;
  font-size: 18px;
  height: 46px;
  line-height: 2em;
  display: inherit;
}
.no-cookies .container,
.no-cookies .container-fluid {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  background: #e0e0e0;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.omni-toolbar {
  background-color: #fff !important;
  color: #4870a3 !important;
}
.omni-toolbar .md-button,
.omni-toolbar md-icon {
  color: #4870a3 !important;
}
.omni-toolbar md-icon.fa {
  vertical-align: -webkit-baseline-middle;
}
.omni-toolbar .md-icon-button {
  font-size: 1.65rem;
}
.omni-toolbar .product-icon {
  font-size: 3.72rem;
}
.omni-toolbar .product-icon-sm {
  font-size: 1.65rem;
}
.omni-toolbar .product {
  color: #4870a3;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3.1rem;
  white-space: nowrap;
  margin-left: 0.2rem;
}
.omni-toolbar .product-sm {
  font-size: 1.4rem;
  vertical-align: 0.1rem;
}
.omni-toolbar .tagline {
  color: #8e9947;
  text-transform: capitalize;
  margin-top: -0.4rem;
  font-size: 1rem;
  white-space: nowrap;
}
.tt-busy-indicator {
  position: absolute;
  z-index: 7777;
  display: block;
  top: 5.7rem;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.7rem;
  background: #f7f7f7;
}
.tt-busy-indicator-inline {
  position: relative;
  top: 0;
  padding-top: 0;
  background: inherit;
  margin-left: 0px;
  width: 100%;
}
.tt-busy-indicator .icon {
  height: 1.5rem;
  width: 24px;
  margin: auto;
  top: 50%;
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.tt-busy-indicator .rect {
  background-color: #808080;
  height: 100%;
  width: 4px;
  float: left;
  -webkit-animation: loading-rect 0.8s ease-in-out;
  -moz-animation: loading-rect 0.8s ease-in-out;
  -o-animation: loading-rect 0.8s ease-in-out;
  animation: loading-rect 0.8s ease-in-out;
  -webkit-animation-iteration-count: 200;
  /* Chrome, Safari, Opera */
  animation-iteration-count: 200;
}
.tt-busy-indicator .rect ~ .rect {
  margin-left: 4px;
}
.tt-busy-indicator .rect1 {
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  -o-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.tt-busy-indicator .rect2 {
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.tt-busy-indicator .rect3 {
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes loading-rect {
  0%,
  100% {
    -webkit-transform: scaleY3d(0.2);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: scaleY3d(1);
    opacity: 1;
  }
}
@-moz-keyframes loading-rect {
  0%,
  100% {
    -moz-transform: scaleY3d(0.2);
    opacity: 0.2;
  }
  50% {
    -moz-transform: scaleY3d(1);
    opacity: 1;
  }
}
@-o-keyframes loading-rect {
  0%,
  100% {
    -o-transform: scaleY3d(0.2);
    opacity: 0.2;
  }
  50% {
    -o-transform: scaleY3d(1);
    opacity: 1;
  }
}
@keyframes loading-rect {
  0%,
  100% {
    transform: scaleY3d(0.2);
    opacity: 0.2;
  }
  50% {
    transform: scaleY3d(1);
    opacity: 1;
  }
}
.tt-margin-lg {
  margin: 2.4rem;
}
.tt-margin-top-lg {
  margin-top: 2.4rem;
}
.tt-margin-bottom-lg {
  margin-bottom: 2.4rem;
}
.tt-margin-left-lg {
  margin-left: 2.4rem;
}
.tt-margin-right-lg {
  margin-right: 2.4rem;
}
.tt-margin-md {
  margin: 1.6rem;
}
.tt-margin-top-md {
  margin-top: 1.6rem;
}
.tt-margin-bottom-md {
  margin-bottom: 1.6rem;
}
.tt-margin-left-md {
  margin-left: 1.6rem;
}
.tt-margin-right-md {
  margin-right: 1.6rem;
}
.tt-margin-sm {
  margin: 0.8rem;
}
.tt-margin-top-sm {
  margin-top: 0.8rem;
}
.tt-margin-bottom-sm {
  margin-bottom: 0.8rem;
}
.tt-margin-left-sm {
  margin-left: 0.8rem;
}
.tt-margin-right-sm {
  margin-right: 0.8rem;
}
.tt-padding-lg {
  padding: 2.4rem;
}
.tt-padding-top-lg {
  padding-top: 2.4rem;
}
.tt-padding-bottom-lg {
  padding-bottom: 2.4rem;
}
.tt-padding-left-lg {
  padding-left: 2.4rem;
}
.tt-padding-right-lg {
  padding-right: 2.4rem;
}
.tt-padding-md {
  padding: 1.6rem;
}
.tt-padding-top-md {
  padding-top: 1.6rem;
}
.tt-padding-bottom-md {
  padding-bottom: 1.6rem;
}
.tt-padding-left-md {
  padding-left: 1.6rem;
}
.tt-padding-right-md {
  padding-right: 1.6rem;
}
.tt-padding-sm {
  padding: 0.8rem;
}
.tt-padding-top-sm {
  padding-top: 0.8rem;
}
.tt-padding-bottom-sm {
  padding-bottom: 0.8rem;
}
.tt-padding-left-sm {
  padding-left: 0.8rem;
}
.tt-padding-right-sm {
  padding-right: 0.8rem;
}
.layout-fixed {
  max-width: 96rem;
}
@media (max-width: 599px) {
  .layout-padding > .flex-sm {
    padding: 4px;
  }
}
@media (min-width: 600px) {
  .layout-padding > .flex-md {
    padding: 8px;
  }
}
@media (min-width: 960px) {
  .layout-padding > .flex-lg {
    padding: 8px 16px;
  }
}
md-input-container:not(.md-input-focused) {
  font-size: 1.4rem;
}
md-input-container:not(.md-input-focused) label {
  color: rgba(0, 0, 0, 0.56) !important;
  font-size: 1.4rem;
}
md-select:not(:focus) {
  font-size: 1.4rem;
}
md-select:not(:focus) .md-select-value.md-select-placeholder {
  color: rgba(0, 0, 0, 0.56) !important;
  font-size: 1.4rem;
}
.tt-header {
  font-size: 20px;
  font-size: 2rem;
  color: #585858;
  /*margin:1.5rem 0 0.5rem 0;*/
}
.tt-subheader {
  font-size: 14px;
  font-size: 1.4rem;
  color: #40528f;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: #585858;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #fff;
  border-radius: 10px;
  border: solid 0.1rem #bebebe;
}
.md-button {
  font-weight: bold;
}
.md-button {
  border-radius: 0 !important;
  font-size: 13px;
  font-size: 1.3rem;
}
.md-button.intent {
  border: 1px solid #40528f;
  color: #40528f;
}
.md-button.active {
  background: rgba(255, 255, 255, 0.1);
}
.calendar-text {
  text-align: center;
  line-height: 2.4rem;
}
.text-secondary {
  color: #696969;
}
.calendar-background-row {
  padding: 0;
}
.calendar-background-header {
  text-align: center;
  border: white solid 0.1rem;
}
.calendar-background {
  height: 4.4rem;
  font-weight: bold;
  text-align: center;
  background: #fbfbfb !important;
  border: white solid 0.1rem;
  padding: 0 !important;
  min-width: 3.4rem;
}
.calendar-background > button {
  font-weight: bold;
  background: #fbfbfb !important;
  padding: 0;
  min-width: 3.4rem;
}
.calendar-background-event {
  background: #A0A9C7 !important;
}
.calendar-background-event > button {
  background: #A0A9C7 !important;
}
.calendar-background-secondary {
  background: #e9e9e9 !important;
}
.calendar-background-secondary > button {
  background: #e9e9e9 !important;
}
.calendar-background-current {
  background: #ECEEF4 !important;
}
.calendar-background-current > button {
  background: #ECEEF4 !important;
}
.calendar-background-selected {
  background: #cfd6a7 !important;
}
.calendar-background-selected > button {
  background: #cfd6a7 !important;
}
.calendar-event-indicator {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.2rem;
  border-radius: 50%;
  line-height: 0.8rem;
  background: #606FA2;
}
.calendar-event-indicator.calendar-event-secondary {
  background: #696969;
}
.calendar-hour-column,
.calendar-week-column {
  width: 5rem;
  text-align: center;
  padding-top: 0.4rem;
}
.calendar-hour-column.small-screen,
.calendar-week-column.small-screen {
  width: 3.2rem;
  font-size: 1.2rem;
}
.calendar-event-wrap {
  position: relative;
  width: inherit;
  height: 100%;
}
.calendar-event {
  position: absolute;
  padding: 0 0.4rem 0.8rem 0.4rem;
  cursor: pointer;
}
.calendar-event.all-day {
  position: relative;
}
.calendar-event-inner {
  min-height: 0;
  min-width: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0.8rem 0.2rem 0.2rem 0.2rem;
  line-height: 1.5rem;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  /*background-color: #3a87ad;
    color: white;*/
}
.calendar-event-inner.all-day {
  min-height: 3.8rem;
  padding: 0 0.6rem;
}
.calendar-cell {
  padding: 0 !important;
  height: 3.8rem;
  background: #fbfbfb;
  border-top: solid #eee;
  border-bottom: solid #eee;
  border-left: solid #ccc;
  border-right: solid #ccc;
  border-width: 0.1rem 0.1rem 0 0.1rem;
}
.calendar-cell.first-row {
  border-width: 0 0.1rem;
}
.calendar-cell.all-day {
  min-height: 3.8rem;
  height: auto;
  border-width: 0 0.1rem;
  position: relative;
}
.weekview-allday-label,
.dayview-allday-label {
  height: 100%;
  text-align: center;
  padding-top: 0.4rem;
  width: 5rem;
}
.weekview-allday-label.small-screen,
.dayview-allday-label.small-screen {
  width: 3.2rem;
  font-size: 1.2rem;
}
.weekview-header-label {
  text-align: center;
  padding-bottom: 0.8rem;
}
.card-header {
  font-size: 20px;
  font-size: 2rem;
  color: #585858;
}
.card-sub-header {
  font-size: 14px;
  font-size: 1.4rem;
  color: #40528f;
}
md-card {
  border: 1px solid #bebebe;
  border-radius: 0;
}
.tt-card-item:first-child {
  margin-top: 0;
}
.tt-card-item:last-child {
  margin-bottom: 0;
}
/*
  Styles apply to angular-chart.js
*/
.chart-legend,
.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  /* NOTE: Browsers automatically add 40px of padding-left to all lists, so we should offset that, otherwise the legend is off-center */
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-left: 0;
}
.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: smaller;
  cursor: default;
}
.chart-legend li span,
.bar-legend li span,
.line-legend li span,
.pie-legend li span,
.radar-legend li span,
.polararea-legend li span,
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.md-content-main {
  background: #e9e9e9;
}
.facet-header {
  font-size: 14px;
  font-size: 1.4rem;
  color: #40528f;
}
md-icon.fa {
  font-size: 2.2rem;
}
md-icon.mdi {
  font-size: 2.6rem;
}
md-input-container.md-input-focused .md-input,
md-input-container .md-input.ng-invalid.ng-dirty {
  padding-bottom: 0;
  background: #f2f2f2;
}
.tt-label {
  color: #6e6e6e;
  font-size: 11px;
  font-size: 1.1rem;
}
.tt-value {
  color: #323232;
  font-size: 14px;
  font-size: 1.4rem;
}
.md-pagination {
  margin: 1.6rem 0.8rem;
  text-transform: none;
  min-width: 10rem;
}
.md-pagination > .md-button {
  border-radius: 0;
  margin: 0;
  min-width: 4.4rem;
}
.md-pagination > .md-button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.md-pagination > .md-button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.md-pager {
  margin: 1.6rem 0.8rem;
  text-transform: none;
}
.md-pager > .md-button {
  margin: 0;
}
.search.md-input-has-placeholder {
  padding: 0.4rem 1.2rem;
  background: white;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.search.md-input-focused .md-input {
  font-size: 1.4rem;
  background: white;
  padding-bottom: 0;
}
.tt-sidenav {
  background: #40528f;
}
md-tabs-content-wrapper {
  background-color: #f6f6f6;
}
.timeline-events {
  z-index: 1;
  top: 0px;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.timeline-event {
  position: absolute;
  width: 2px;
  height: 3.4rem;
  background: #40528f;
  cursor: pointer;
  border: 1px solid #696969;
  opacity: 0.6;
  top: 8px;
}
.timeline-event:hover {
  opacity: 0.9;
}
.timeline-event.active {
  opacity: 1;
}
.timeline-progress {
  height: 5rem;
  margin-top: 2.5rem;
  position: relative;
}
.line {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #ddd;
  top: 24px;
  position: absolute;
  width: 100%;
}
.marker {
  height: 5rem;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: #696969;
  position: absolute;
}
.marker-label {
  position: absolute;
  top: -30px;
  white-space: nowrap;
}
.hour-marker {
  height: 2rem;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: #ccc;
  position: absolute;
  top: 15px;
}
.white-datepicker > .md-datepicker-input-container > input {
  background: white !important;
}
.tt-toolbar-aware-fill {
  margin-top: -6.4rem;
  padding-top: 6.4rem;
}
/* ==========================================================================
   Print Styles
   ========================================================================== */
@media print {
  /* Landscape printing ? */
  /*@page {
        size: landscape;
    }*/
  /* Black text on white background*/
  body {
    color: #000;
    background: #fff;
  }
  /* Ensure images never bleed off the printed page */
  img {
    max-width: 100% !important;
  }
  /* Bootstrap adds the href location to the link text - we don't want that*/
  a[href]:after {
    content: "";
  }
  .noprint {
    display: none !important;
    visibility: collapse !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}