﻿<div class="steps-container noprint" ng-if="steps.length > 1">  
  <button ng-repeat="step in steps" class="{{step.activeClass}}" ng-click="select($index)" ng-disabled="step.isDisabled"><div class="steps-line"></div><span>{{$index + 1}}</span>{{step.label}}</button>
</div>