﻿<div layout="row">
  <div class="calendar-hour-column"
       ng-class="{'small-screen': !gtSm}"></div>
  <div ng-repeat="dt in dates"
       class="weekview-header-label"
       flex
       ng-class="{'small-screen': !gtSm}">{{dt.date| date: 'EEE d'}}</div>
  <div ng-if="gutterWidth>0" ng-style="{width: gutterWidth*0.1+'rem'}"></div>
</div>
<md-divider></md-divider>
<md-content md-scroll-y
            flex
            layout="column"
            id="weekview-agenda"
            style="overflow-y:scroll;">
  <div id="weekview-allday" layout="row" ng-style="{'min-height':4.4*greatestOverlapInAllDayEvents+'rem', 'height':4.4*greatestOverlapInAllDayEvents+'rem'}">
    <div class="weekview-allday-label" ng-class="{'small-screen': !gtSm}">
      all day
    </div>
    <div ng-repeat="day in dates track by day.date"
         class="calendar-cell all-day"
         flex>
      <div ng-class="{'calendar-event-wrap': day.events}" ng-if="day.events">
        <div ng-repeat="displayEvent in day.events" class="calendar-event"
             ng-style="{top: 4.4*displayEvent.position+'rem', width: 100*(displayEvent.endIndex-displayEvent.startIndex)+'%', height: '4.4rem', 'z-index': dates.length - $parent.$index}">
          <md-button class="calendar-event-inner all-day md-primary md-raised md-hue-3"
                     layout="column"
                     ng-click="eventSelected({event:displayEvent.event})">
            <div flex>{{displayEvent.event.title}}</div>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <md-divider style="margin-bottom:0.8rem;"></md-divider>
  <md-divider></md-divider>
  <div layout="column">
    <div ng-repeat="row in rows track by $index" layout="row">
      <div class="calendar-hour-column" ng-class="{'small-screen': !gtSm}">
        {{$index<12?($index === 0?12:$index)+'am':($index === 12?$index:$index-12)+'pm'}}
      </div>
      <div ng-repeat="tm in row track by tm.time"
           class="calendar-cell"
           ng-class="{'first-row': $parent.$first}"
           flex>
        <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
          <div ng-repeat="displayEvent in tm.events"
               class="calendar-event"
               ng-style="{left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 3.8*(displayEvent.endIndex-displayEvent.startIndex)+'rem', 'z-index': rows.length - $parent.$parent.$index}">
            <md-button class="calendar-event-inner md-primary md-raised md-hue-3"
                       layout-align="center start"
                       layout="column"
                       ng-click="eventSelected({event:displayEvent.event})">
              <div flex layout-fill>{{displayEvent.event.title}}</div>
            </md-button>
          </div>
        </div>
      </div>
      <!--<div ng-if="normalGutterWidth>0" ng-style="{width: normalGutterWidth*0.1+'rem'}"></div>-->

    </div>
  </div>
</md-content>
<md-divider></md-divider>
