﻿<div layout="row" style="padding-bottom:0.8rem;">
  <div style="width:3.2rem;"
              ng-show="showWeeks"
              class="calendar-background-header">#</div>
  <div flex
       ng-repeat="label in labels track by $index"
       class="calendar-background-header">
    {{label}}
  </div>
</div>
<md-list ng-repeat="row in rows track by $index" layout="row" class="calendar-background-row">
  <md-list-item ng-show="showWeeks"
                style="width:3.2rem;"
                class="calendar-background">{{ weekNumbers[$index] }}</md-list-item>
  <md-list-item flex ng-repeat="dt in row track by dt.date"
                ng-click="select(dt.date)"
                class="calendar-background"
                ng-class=" {'calendar-background-current': dt.current && !dt.selected && !dt.secondary,
                            'calendar-background-secondary': dt.secondary,
                            'calendar-background-selected': dt.selected}">
    <p>
      <div layout="column" layout-align="center center">
        <div ng-class="{'text-secondary':dt.secondary}"
              class="calendar-text">{{dt.label}}</div>
        <div ng-class="{'calendar-event-indicator': dt.hasEvent, 'calendar-event-secondary': dt.secondary}"></div>
      </div>
    </p>
  </md-list-item>
</md-list>
<md-content flex 
            ng-if="showEventDetail" 
            layout="column" 
            style="margin-top:0.8rem;" 
            md-scroll-y>
  <md-divider></md-divider>
  <div layout="row" id="dayview-allday">
    <div class="dayview-allday-label" ng-class="{'small-screen': !gtSm}">
      all day
    </div>
    <div class="calendar-cell all-day" layout="column" flex>
      <div ng-repeat="displayEvent in agendaAllDayEvents"
           class="calendar-event all-day"
           layout="column">
        <md-button ng-click=" eventSelected({event:displayEvent.event})"
                    class="calendar-event-inner all-day md-primary md-raised md-hue-3"
                    layout="column">
          <div flex>{{displayEvent.event.title}}</div>
        </md-button>
      </div>
    </div>
  </div>
  <md-divider style="margin-bottom:0.8rem;"></md-divider>
  <md-divider></md-divider>
  <div flex id="dayview-agenda">
    <div ng-repeat="tm in agendaRows track by $index" layout="row">
      <div class="calendar-hour-column" ng-class="{'small-screen': !gtSm}">
        {{$index<12?($index === 0?12:$index)+'am':($index === 12?$index:$index-12)+'pm'}}
      </div>
      <div class="calendar-cell"
           ng-class="{'first-row':$first}"
           flex>
        <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
          <div ng-repeat="displayEvent in tm.events"
               class="calendar-event"
               ng-style="{left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 3.8*(displayEvent.endIndex-displayEvent.startIndex)+'rem', 'z-index': agendaRows.length - $parent.$parent.$index}">
            <md-button class="calendar-event-inner md-primary md-raised md-hue-3"
                       layout-align="center start"
                       layout="column"
                       ng-click="eventSelected({event:displayEvent.event})">
              <div flex layout-fill>{{displayEvent.event.title}}</div>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
</md-content>