﻿<md-content ng-switch="calendarMode" layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button type="button" class="md-icon-button" ng-click="move(-1)" aria-label="Calendar Previous">
        <md-icon md-font-icon="fa-chevron-left" class="fa"></md-icon>
      </md-button>
      <div flex style="text-align:center">{{title}}</div>
      <md-button type="button" class="md-icon-button" ng-click="move(1)" aria-label="Calendar Next">
        <md-icon md-font-icon="fa-chevron-right" class="fa"></md-icon>
      </md-button>
    </div>


  </md-toolbar>
  <md-content flex layout="row">
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
  </md-content>
</md-content>