﻿<div class="row">
  <div class="col-sm-12 margin-bottom">
    <label>Add Note</label>
    <textarea class="form-control" placeholder="Add a note..." ng-model="text" tt-autofocus></textarea>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary full-width"
            ng-disabled="!hasValue(text)"
            ng-click="submitCommand(notes, user, text); reset();">
      Add Note
    </button>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-default" ng-click="reset(); cancelCommand();" style="width:100%">Cancel</button>
  </div>
</div>