﻿<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <p style="width:100%">
          <span ng-show="hasValue(note.user)" class="margin-right">
            <span class="text-primary bold">{{note.user}}</span>
          </span>
          <span ng-show="hasValue(note.date)">
            <span class="text-muted">Date: </span>
            <i>{{note.date | date: 'MM/dd/yyyy'}}</i>
          </span>
        </p>
        <span>{{note.text}}</span>
      </div>
    </div>
  </div>
</div>