﻿<label class="control-label">Notes</label>
<span class="badge" style="margin-left:0.5rem;">{{notes.length}}</span>
<div class="row">
  <div class="col-sm-10">
    <input ng-model="notequery" type="text" placeholder="Find a note..." autofocus="autofocus" class="form-control">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-default" style="width:100%" ng-click="cancelCommand();">Back</button>
  </div>
</div>
<hr class="margin-top" style="margin-bottom:0;" />
<div style="height:inherit">
  <div class="row" style="height:inherit; overflow-y:auto">
    <div class="col-sm-12">
      <ng-include src="itemTemplate"
                  ng-repeat="note in filteredNotes = (notes | filter: notequery | orderBy: '-date')">
      </ng-include>
    </div>
  </div>
</div>
<hr style="margin:0;" />