﻿<md-content class="md-pagination md-whiteframe-z1">
  <md-button ng-show="firstLink || boundaryLinks"
             ng-disabled="noPrevious()"
             ng-click="selectPage(1)">{{getText('first')}}</md-button>
  <md-button ng-show="prevLink || directionLinks"
             ng-disabled="noPrevious()"
             ng-click="selectPage(page - 1)">{{getText('previous')}}</md-button>
  <md-button ng-repeat="page in pages track by $index"
             ng-class="{'md-primary md-raised': page.active}"
             ng-click="selectPage(page.number)">{{page.text}}</md-button>
  <md-button ng-show="nextLink || directionLinks"
             ng-disabled="noNext()"
             ng-click="selectPage(page + 1)">{{getText('next')}}</md-button>
  <md-button ng-show="lastLink || boundaryLinks"
             ng-disabled="noNext()"
             ng-click="selectPage(totalPages)">{{getText('last')}}</md-button>
</md-content>