﻿<div class="md-pager">
  <md-button ng-disabled="noprevious()"
             class="md-raised"
             ng-click="selectPage(page - 1)">{{getText('previous')}}</md-button>
  <md-button ng-disabled="nonext()"
             class="md-raised"
             ng-click="selectPage(page + 1)">{{getText('next')}}</md-button>
</div>