<div class="timeline-progress">
  <div class="line"></div>

  <!-- Timeline Markers-->
  <label class="marker-label">{{startDate | date: 'h:mm a'}}</label>
  <div class="marker" style="left: 0"></div>

  <div class="hour-marker" tt-hour-marker hour-date="hour" ng-repeat="hour in hours"></div>

  <div class="marker" tt-noon-marker>
    <label class="marker-label" style="left:-28px;">{{noonDate | date: 'h:mm a'}}</label>
  </div>

  <label class="marker-label" style="right: 0">{{endDate | date: 'h:mm a'}}</label>
  <div class="marker" style="right: 0"></div>

  <!-- Events -->
  <div class="timeline-events">
    <div class="timeline-event"
          ng-repeat="event in events"
          event-start-date="event.startDate"
          event-end-date="event.endDate"
          ng-class="{'active': selectedEvent === event}"
          ng-click="setSelectedEvent(event)"
          title="{{event.startDate | date: 'h:mma'}} - {{event.endDate | date: 'h:mma'}}"
          tt-timeline-event-marker>
    </div>
  </div>
</div>