﻿<footer role="contentinfo">
  <div layout="column" show-sm hide-gt-sm layout-padding layout-wrap>
    <div style="margin-bottom:0.5rem;">
      <img class="pull-left noprint" src="~/Content/tylerui/images/empowered.png" />
    </div>
    <div>
      <small class="pull-left noprint">&copy; @DateTime.Now.Year Tyler Technologies, Inc. | All Rights Reserved</small>
      <br />
      <small class="pull-left noprint">Version: @ViewContext.Controller.GetType().Assembly.GetName().Version</small>
    </div>
  </div>
  <div layout="row" hide-sm layout-padding layout-wrap>
    <div flex-sm="100" flex-gt-sm="50">
      <small class="pull-left noprint">&copy; @DateTime.Now.Year Tyler Technologies, Inc. | All Rights Reserved</small>
      <br />
      <small class="pull-left noprint">Version: @ViewContext.Controller.GetType().Assembly.GetName().Version</small>
    </div>
    <div flex-sm="100" flex-gt-sm="50">
      <img class="pull-right noprint" src="~/Content/tylerui/images/empowered.png" />
    </div>
  </div>
</footer>